#wrapper {
    background-color: darkgray;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.overFlow {
    overflow: hidden;
}

div {
    display: block;
}

.dispInLine {
    display: inline;
}